.footer__column-link {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  line-height: 18px;
  display: flex;
  align-items: center;
}

.footer__column-link:last-of-type {
  margin-bottom: 16px;
}
